
#lowNav {
    
    height: auto;
    /*background: linear-gradient(90deg, rgba(211,217,218,1) 0%, rgba(255,255,255,1) 100%);*/
    background: linear-gradient(90deg, rgba(207,212,213,1) 0%, rgba(255,255,255,1) 70%);
    /*border-bottom: 1px solid #999;*/
    /*font-family: fantasy;*/
    padding: 1rem 0;
    
    
}

#hightNav {
    
    height: auto;
    background-color: #222; 
    padding: 1rem 0;
    /*font-family: fantasy;*/
}

#lowNav> ul> li> a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

#lowNav> ul> li> a:hover  {
    color: #b1afaf;
    text-decoration: underline;
}

h1, h2 {
    font-family: fantasy;
    text-transform: uppercase;
}

.logo {
    color: #fff;
    margin-left: 50px;
    font-family: fantasy;
}

ul> li> a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    padding: 1rem;   
}

ul> li> a:hover {
    color: #cfcece;
    
}

ul> li {
    list-style-type: none;
}

body {
    background: url('../img/fond_2_blog.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.main {
    min-height: 100vh;
}


.cont{
    margin-top: 100px;
}

textarea {
    height: 400px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
     
    background-color: #000;
    color: #fff;
    
}

footer> p {
    font-size: 1vw;
}

#article{
    padding-top: 100px;
}

.textArticle {
    margin-top: 50px;
}


/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    ul> li> a {
        font-size: 2.5vw;
    }

    .cont {
        margin-top: 50px;
    }

    textarea {
        height: 200px;
    }

    #hightNav, #lowNav {
        text-align: center;
    }

    .logo {
        margin-left: 0;
        text-align: center;
    }
}
