
#lowNav {
    
    height: 5vw;
    background-image: url('../img/background_header_blog.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hightNav {
    
    height: 10vw;
    background-color: #000; 
}

ul> li> a {
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    padding: 1rem;   
}

ul> li> a:hover {
   /* color: violet;*/
    text-decoration: underline;
}

ul> li {
    list-style-type: none;
}

body {
    background: url('../img/fond_2_blog.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.main {
    min-height: 100vh;
}


.cont{
    margin-top: 100px;
}

h1, h2 {
    text-transform: uppercase;
}



textarea {
    height: 400px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
     
    background-color: #000;
    color: #fff;
    
}

footer> p {
    font-size: 1vw;
}

#article{
    padding-top: 100px;
}


/* Media queries pour les appareils mobiles */
@media (max-width: 768px) {
    ul> li> a {
        font-size: 4vw;
    }

    .cont {
        margin-top: 50px;
    }

    textarea {
        height: 200px;
    }
}
